/* Resets */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, sub, sup, tt, var,b, u, i, center,dl, dt, dd, fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}
*{outline:0;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);-webkit-focus-ring-color:  rgba(0, 0, 0, 0);}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}
/* Forms */
button,input,optgroup,select,textarea {color: inherit;font: inherit;margin: 0;}
button { overflow: visible;}
button,select { text-transform: none; }
button, html input[type="button"], input[type="reset"],input[type="submit"] { -webkit-appearance: button; cursor: pointer; }
button[disabled], html input[disabled] { cursor: default; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
input { line-height: normal; }
input[type="checkbox"],input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box;  box-sizing: content-box;}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none;}
input[type="text"], textarea { -webkit-appearance: none; -webkit-border-radius: 0; }
legend { border: 0; padding: 0; }
textarea { overflow: auto; }
optgroup { font-weight: bold; }
/* Clearfix */
.clearfix:before,.clearfix:after{content:" ";display:table}
.clearfix:after{clear:both}.clearfix{*zoom:1}



/* Genearl */
*, *:before, *:after {
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing: border-box;
}
html,
body {
	overflow-x:hidden;
	min-width: 320px;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}



/* General */
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #FFF;
	color: #3A4046;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
	line-height: 28px;
    font-size: 16px;
	text-rendering: optimizeLegibility;
}
a {
	color: #2D5481;
}
a:hover {
	color: #294a6d;
}
p {
	margin-bottom: 24px;
}
h1 {
	font-family: 'Fraunces', serif;
	font-size: 36px;
	font-weight: 700;
	line-height: 40px;
	margin-bottom: 12px;
}
h2 {
	font-family: 'Fraunces', serif;
	font-size: 32px;
	font-weight: 700;
	line-height: 36px;
	margin-bottom: 12px;
}
h3 {
	font-family: 'Fraunces', serif;
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
	margin-bottom: 12px;
}
.button, button {
    background: #2f557f;
	border: 0;
    border-radius: 4px;
    color: #FFF;
	display: inline-block;
	font-family: 'Fraunces', serif;
    font-size: 20px;
	font-weight: 700;
    line-height: 20px;
    padding: 12px 18px;
	text-align: center;
	text-decoration: none;
}
.button:hover, button:hover {
	color: #FFF;
	background: #294a6d;
	text-decoration: none;
}
.button.button-lite {
    background: #FFF;
    color: #2f557f;
}
.button.button-lite:hover {
	background: #fafafb;
	color: #2f557f;
}
.button.button-small {
	font-family: 'Inter', sans-serif;
	font-size: inherit;
    font-weight: 400;
	padding: 8px 12px;
}
.button-group .button {
	display: block;
	margin-bottom: 12px;
}
.wrapper {
	margin: auto;
	max-width: 1800px;
	padding-left: 20px;
	padding-right: 20px;
}
.wrapper-small {
	max-width: 1104px;
}
.wrapper-medium {
	max-width: 1200px;
}
.wrapper-large {
	max-width: 1800px;
}
.text-center {
	text-align: center;
}

@media only screen and (min-width: 750px) {
	.button {
		font-size: 20px;
		line-height: 28px;
		padding: 12px 24px;
	}
	.button-group .button {
		display: inline-block;
		margin: 0 12px 12px 0;
	}
	body {
		font-size: 18px;
	}
	h1 {
		font-size: 54px;
		line-height: 56px;
		margin-bottom: 24px;
	}
	h2 {
		font-size: 48px;
		line-height: 56px;
		margin-bottom: 24px;
	}
	h3 {
		font-size: 36px;
		line-height: 40px;
		margin-bottom: 24px;
	}
	.wrapper {
		padding-left: 36px;
		padding-right: 36px;
	}
}




/* Header */
header {
	font-size: 16px;
}
header a {
	color: inherit;
	text-decoration: none;
}
header a:hover {
	color: #656E76;
	text-decoration: none;
}
header .logo-wrapper {
	align-items: center;
	display: flex;
	justify-content: space-between;
}
header .logo {
	cursor: default;
	font-size: 30px;
	line-height: 32px;
	margin: 16px 0;
}
header .logo span {
	color: #8F9AAD;
	display: block;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 600;
	line-height: 20px;
}
header .main-nav {
	display: none;
	padding-bottom: 16px;
}
header .main-nav a {
	display: block;
	padding: 8px;
	text-align: center;
}
header .contact-nav {
	align-items: center;
	border-top: 1px solid #D8D8D8;
	display: flex;
	justify-content: space-between;
	margin: 0 -20px;
	padding: 0 12px;
}
header .contact-nav a {
	display: inline-block;
	padding: 8px;
	text-align: center;
}
@media only screen and (min-width: 750px) {
	header .contact-nav {
		margin: 0 -36px;
		padding: 0 28px;
	}
}
@media only screen and (min-width: 1024px) {
	header .wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	header .logo-wrapper {
		display: block;
	}
	header .logo {
		font-size: 36px;
		line-height: 40px;
		margin: 24px 36px 24px 0;
	}
	header .logo span {
		font-size: 18px;
		line-height: 20px;
	}
	header #menu-button {
		display: none;
	}
	header .main-nav {
		display: block !important;
		margin: 0 -8px 0 -8px;
		padding-bottom: 0;
		flex: 1;
	}
	header .main-nav a {
		display: inline-block;
		padding: 8px;
		text-align: center;
	}
	header .contact-nav {
		border-top: none;
		display: block;
		margin: 0 -8px 0 -8px;
		padding: 0;
	}
	header .contact-nav a {
		display: inline-block;
		padding: 8px;
		text-align: center;
	}
}
@media only screen and (min-width: 1200px) {
	header .main-nav a {
		padding: 8px 16px;
	}
	
	header .contact-nav a {
		padding: 8px 16px;
	}
}


/* Intro */
.intro {
	background: #EDF0F3;
	padding-top: 36px;
	padding-bottom: 16px;
}
.hero {
    position: relative;
}
.hero:before {
	background: #EDF0F3;
    content: '';
	height: 50%;
	left: 0;
    position: absolute;
    top: 0;
	width: 100%;
    z-index: -1;
}
.hero-image {
	background-image: url(img/home.jpg);
	background-size: cover;
	margin-bottom: 36px;
	width: 100%;
	height: 0;
	padding-bottom: 40%;
	position: relative;
}
.hero-image-inside {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}
	
.hero-image .anderson-logo{
	display: block;
	width: 600px;
	max-width: 100%;
}
@media only screen and (min-width: 750px) {
	.intro {
		padding-top: 64px;
		padding-bottom: 60px;
	}
	.hero-image {
		margin-bottom: 148px;
	}
}
@media only screen and (min-width: 1100px) {
	.intro {
		padding-top: 96px;
		padding-bottom: 92px;
	}
	.intro .wrapper {
		display: flex;
    	justify-content: space-between;
	}
	.intro .headline {
		min-width: 450px;
   		margin-right: 48px;
	}
	.intro .text {
		max-width: 540px;
	}
	.hero-image {
		margin-bottom: 198px;
	}
}



/* About */
.about-inside {
	background: #505C6A;
	background: #28384a;
	color: #FFF;
	margin-left: -20px;
    margin-right: -20px;
	padding-left: 20px;
    padding-right: 20px;
}
.about-inside .text {
	padding-top: 36px;
	margin-bottom: -20px;
}
.about-inside .image {
	bottom: -20px;
	margin: auto;
	position: relative;
	padding-bottom: 80%;
}
.about-inside .image-inside {
	position: absolute;
	top: 12px;
	right: 0;
	height: 100%;
	width: 100%;
	background-image: url(img/cole-hooey-realtor.jpg);
	background-size: cover;
	background-position: center;
	background-position: top center;
}
@media only screen and (min-width: 750px) {
	.about-inside {
		margin: 0;
		padding: 0 48px;
	}
	.about-inside .text {
		padding-top: 48px;
		margin-bottom: -48px;
	}
	.about-inside .image {
		bottom: -70px;
		position: relative;
		
	}
}
@media only screen and (min-width: 860px) {
	.about-inside {
		display: flex;
		justify-content: space-between;
		align-items: stretch;
		position: relative;
		padding: 0;
	}
	.about-inside:before {
		content: '';
		display: block;
		background: #FFF;
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: 120px;
	}
	.about-inside .text {
		padding: 48px;
		margin: 0;
		width: 50%;
	}
	.about-inside .image {
		width: 50%;
		bottom: inherit;
		margin: 0;
		padding: 0;
	}
	.about-inside .image-inside {
		top: -38px;
		height: calc(100% + 96px);
	}	
}
@media only screen and (min-width: 1100px) {
	.about-inside {

	}
	.about-inside:before {

	}
	.about-inside .text {
		width: 60%;
	}
	.about-inside .image {
		width: 40%;
	}
	.about-inside .image-inside {
		top: -98px;
		height: calc(100% + 196px);
	}	
}



/* Services */
.services {
    padding-bottom: 24px;
    padding-top: 72px;
}
.services .image {
	margin: 0 auto 12px;
	max-width: 300px;
}
.services .contact {
	background-color: #EDF0F3;
	margin-left: -20px;
    margin-right: -20px;
	padding: 24px 20px 12px;
}
.services .contact p {
	max-width: 540px;
}
@media only screen and (min-width: 750px) {
	.services {
		padding-bottom: 72px;
		padding-top: 142px;
	}
	.services .image {
		margin: 0 auto 24px;
		max-width: 440px;
	}
	.services .service {
		margin-bottom: 16px;
	}
	.services .contact {
		margin: 16px 0 0;
		padding: 48px 60px 44px;
	}
}
@media only screen and (min-width: 1100px) {
	.services {
		padding-bottom: 108px;
		padding-top: 198px;
	}
	.services .image {
		max-width: 540px;
	}
	.services-list {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.services-list .service {
		width: calc(50% - 24px);
	}
}



/* Testimonials */
.testimonials {
	background-color: #F6EEEA;
	padding: 36px 0;
}
.testimonials h2 {
	margin-bottom: 24px;
}
.testimonial {
	border-bottom: 1px solid #DED8D6;
	padding-bottom: 12px;
	margin-bottom: 36px;
}
.testimonial:last-of-type {
	border-bottom: none;
	padding-bottom: 0;
	margin-bottom: 0;
}
.testimonial .full-text {
	display: none;
}
@media only screen and (min-width: 1100px) {
	.testimonials {
		padding: 72px 0;
	}
}
@media only screen and (min-width: 1100px) {
	.testimonials {
		padding: 96px 0;
	}
	.testimonials h2 {
		margin-bottom: 48px;
	}
	.testimonial {
		display: flex;
		justify-content: space-between;
		padding-bottom: 24px;
		margin-bottom: 48px;
	}
	.testimonial .name {
		width: 324px;
		padding-right: 36px;
	}
	.testimonial .text {
		flex: 1;
	}
}



/* Footer */
footer {
	font-size: 16px;
	text-align: center;
	padding: 36px;
}
footer a {
	color: inherit;
	text-decoration: none;
}
footer a:hover {
	color: #656E76;
	text-decoration: none;
}
footer .logo {
	cursor: default;
	font-size: 30px;
	line-height: 32px;
	margin-bottom: 0;
}
footer .logo span {
	color: #8F9AAD;
	display: block;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 600;
	line-height: 20px;
}
footer .contact-nav {
    margin: 24px 0;
}
footer .associated-logos {
	align-items: center;
	display: flex;
	justify-content: center;
	margin: 24px auto;
}
footer .associated-logos a {
	margin-bottom: 0px;
}
footer .associated-logos img {
	display: inline-block;
	vertical-align: middle;
}
footer .associated-logosos a:hover {
	text-decoration: none;
}
footer .associated-logos .nar img {
	margin: 0 15px;
	width: 108px;
}
footer .associated-logos .equal-housing img {
	width: 40px;
}
footer .copyright {
	font-size: 14px;
}