/* Resets */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, sub, sup, tt, var,b, u, i, center,dl, dt, dd, fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}
*{outline:0;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);-webkit-focus-ring-color:  rgba(0, 0, 0, 0);}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}
/* Forms */
button,input,optgroup,select,textarea {color: inherit;font: inherit;margin: 0;}
button { overflow: visible;}
button,select { text-transform: none; }
button, html input[type="button"], input[type="reset"],input[type="submit"] { -webkit-appearance: button; cursor: pointer; }
button[disabled], html input[disabled] { cursor: default; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
input { line-height: normal; }
input[type="checkbox"],input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box;  box-sizing: content-box;}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none;}
input[type="text"], textarea { -webkit-appearance: none; -webkit-border-radius: 0; }
legend { border: 0; padding: 0; }
textarea { overflow: auto; }
optgroup { font-weight: bold; }
/* Clearfix */
.clearfix:before,.clearfix:after{content:" ";display:table}
.clearfix:after{clear:both}.clearfix{*zoom:1}



/* Genearl */
*, *:before, *:after {
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing: border-box;
}
html,
body {
	overflow-x:hidden;
	min-width: 320px;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}



/* General */
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #eff3f5;
	color: #222;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
	line-height: 24px;
    font-size: 16px;
	text-rendering: optimizeLegibility;
}
.page-wrapper {
	background-color: #FFF;
	margin: auto;
	max-width: 1200px;
}
a {
	color: inherit;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
p {
	margin-bottom: 24px;
}
h1 {
	font-family: 'Fraunces', serif;
	font-size: 36px;
	font-weight: 700;
	line-height: 42px;
	margin-bottom: 10px;
}
h2 {
	font-family: 'Fraunces', serif;
	font-size: 26px;
	font-weight: 700;
	line-height: 32px;
	margin-bottom: 10px;
}
h3 {
	margin-bottom: 20px;
}
.button {
    background: #2f557f;
    border-radius: 4px;
    color: #FFF;
	display: inline-block;
	font-family: 'Fraunces', serif;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    padding: 12px 24px;
}
.button:hover {
	background: #294a6d;
	text-decoration: none;
}
@media only screen and (min-width: 750px) {
	body {
		font-size: 18px;
	}
	h1 {
		font-size: 54px;
		line-height: 60px;
	}
	h2 {
		font-size: 34px;
		line-height: 40px;
		margin-bottom: 20px;
	}
}




/* Header */
header {
	font-size: 16px;
	margin: auto;
	max-width: 1400px;
	text-align: center;
	padding: 20px 0;
}
header .logo {
	font-size: 30px;
	line-height: 32px;
	margin-bottom: 10px;
}
header .logo span {
	color: #8F9AAD;
	display: block;
	font-family: 'Inter', sans-serif;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
}
@media only screen and (min-width: 750px) {
	header {
		align-items: center;
		display: flex;
		justify-content: space-between;
		padding: 40px 20px;
	}
	header .logo {
		font-size: 36px;
		line-height: 40px;
		order: 2;
	}
	header .phone {
		order: 1;
	}
	header .email {
		order: 3;
	}
	header .logo span {
		font-size: 18px;
		line-height: 20px;
	}
}
@media only screen and (min-width: 1000px) {
	header {
		padding: 40px 40px;
	}
}



/* Content */
.content-wrapper {
    padding: 0 10px;
	margin: auto;
	max-width: 100%;
	text-align: center;
	width: 1400px;
}
.text {
	background-color: #D2D9DC;
	padding: 20px 10px 0;
}
.image {
	width: 100%;
}
.contact {
	position: relative;
	padding: 0 10px;
}
.contact:before {
	background-color: #CACDD2;
	content:'';
	display: block;
	height: 50%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 0;
}
.contact-inside { 
	background-color: #F4EBE5;
	margin: auto;
	max-width: 1000px;
	padding: 20px 15px;
	position: relative;
	top: -10px;
}
.contact-method:first-of-type {
	margin-bottom: 10px;
}
@media only screen and (min-width: 375px) {
	.contact-inside { 
		top: -15px;
	}
}
@media only screen and (min-width: 500px) {
	.text {
		padding-top: 40px;
	}
	.contact {
		padding: 0 20px;
	}
	.contact-inside {
		padding: 40px;
		top: -20px;
	}
	.contact-methods {
		margin: auto;
		max-width: 260px;
	}
	.contact-method {
		display: flex;
		justify-content: space-between;
	}
	.contact-type {
		margin-right: 20px;
	}
	.contact-detail {

	}
}
@media only screen and (min-width: 750px) {
	.content-wrapper {
		padding: 0 20px;
	}
	.text {
		padding-top: 80px;
	}
	.contact-inside {
		top: -30px;
	}
}
@media only screen and (min-width: 1000px) {
	.content-wrapper {
		padding: 0 40px;
	}
	.contact-inside { 
		top: -50px;
	}
}



/* Logos */
.logos {
	margin: 24px auto;
	max-width: 700px;
    text-align: center;
}
.logos a {
	margin-bottom: 0px;
}
.logos img {
	display: inline-block;
}
.logos a:hover {
	text-decoration: none;
}
.logos .anderson-realty {
	margin-bottom: 20px;
}
.logos .anderson-realty img {
	width: 200px;
}
.associated-logos {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.associated-logos > div {
	width: 50%;
}
.logos .nar img {
	width: 160px;
}
.logos .spaar img {
	width: 120px;
}
.logos .equal-housing img {
	width: 50px;
}
@media only screen and (min-width: 500px) {
	.logos .anderson-realty img {
		width: 240px;
	}
	.logos .nar img {
		width: 180px;
	}
	.logos .spaar img {
		width: 128px;
	}
	.logos .equal-housing img {
		width: 70px;
	}
}
@media only screen and (min-width: 750px) {
	.logos {
		margin-top: 40px;
		margin-bottom: 60px;
	}
	.associated-logos > div {
		width: 33%;
	}
}



/* Footer */
footer {
	font-size: 16px;
	text-align: center;
	padding-bottom: 20px;
}